dn: cn=ADMINISTRATOR,ou=roles,{{ openldap.basedn }}
changetype: modify
add: member
member: uid={{ georchestra.user.rsct.name }},ou=users,{{ openldap.basedn }}

dn: cn=MOD_LDAPADMIN,ou=roles,{{ openldap.basedn }}
changetype: modify
add: member
member: uid={{ georchestra.user.rsct.name }},ou=users,{{ openldap.basedn }}

dn: cn=MOD_ANALYTICS,ou=roles,{{ openldap.basedn }}
changetype: modify
add: member
member: uid={{ georchestra.user.rsct.name }},ou=users,{{ openldap.basedn }}
