dn: uid={{ georchestra.user.rsct.name }},ou=users,{{ openldap.basedn }}
mail: ernest.chiarello@univ-fcomte.fr
uid: {{ georchestra.user.rsct.name }}
givenName: {{ georchestra.user.rsct.name }}
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
sn: {{ georchestra.user.rsct.name }}
cn: georchestra {{ georchestra.user.rsct.name }}
userpassword: {SSHA}wSCVIRaRXKdD/7XNVBZRBJWBfDQINTMk

